@model IEnumerable<Clinic.Models.Patient>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reports</h1><br />


@if (Model.Count() > 0)
{
    <table class="table">
        <thead class="thead-light" >
            <tr>
                <th scope="row">
                    Patient ID
                </th>
                <th scope="row">
                    Patient Name
                </th>
                <th scope="row">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @foreach (var consultation in item.consultations)
                {
                    <tr class="table-light">
                        <th scope="row">
                            @item.Id
                            </th>

                       <td>
                            @item.display_name
                        </td>
                        <td>
                            @consultation.date
                        </td>
                    </tr>

                    <tr class="table-primary">

                        <td>
                            @consultation.title
                        </td>

                        <td></td>
                        <td class="alert alert-success table-active">
                            <b class="text-danger">COST:</b> <b>@consultation.cost$</b>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-danger">No patients Available</h3>

}