@model List<Clinic.Models.Patient>

@{
    ViewData["Title"] = "testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model.Count > 0) { 
@foreach (var patient in Model)
{

    @if (patient.consultations.Count > 0)
    {
        <h3>@patient.display_name</h3>
        <h3>@patient.Id</h3>
    @foreach (var consultation in patient.consultations)
    {


        var docto = 
            <h3>@docto.doctor.display_name</h3>
        <h3>@consultation.title</h3>
        <h3>@consultation.cost</h3>
        <h3>@consultation.date</h3>
        @*<h3>@consultation.doctor.display_name</h3>*@
    }
    }
    else
    {
        <h3 class="text-danger">No consultation available for @patient.display_name</h3>
    }

    }

}
else
{
    <h3 class="text-dangerr">No Patient found</h3>
}


