@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{

    var user = @UserManager.GetUserAsync(User);

    if (User.IsInRole("Doctor"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome <span class="text-info">Dr. @user.Result.fname </span> </h1>
            <h2>:)</h2>
        </div>
    }


    if (User.IsInRole("Admin"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome <span class="text-info">Admin -  @user.Result.fname</span> </h1>
            <h2>:)</h2>
        </div>
    }


    if (User.IsInRole("Assisstant"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome <span class="text-info">Assisstant -  @user.Result.fname</span> </h1>
            <h2>:)</h2>
        </div>
    }



    if (User.IsInRole("Patient"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome <span class="text-info">Patient -  @user.Result.fname</span> </h1>
            <h2>:)</h2>
        </div>
    }



    if (User.IsInRole("Insurance"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome <span class="text-info">Insurance -  @user.Result.fname</span> </h1>
            <h2>:)</h2>
        </div>
    }




}
else
{

    <div class="text-center">
        <h1 class="display-4">Welcome <span class="text-warning">to</span> our <span class="text-warning">Clinic</span> </h1>
        <h2>:)</h2>
    </div>

    <h4 class="text-danger">Accounts:</h4>
    <ul>
        <li>
            admin@admin.com
        </li>

        <li>
            doctor@doctor.com
        </li>

        <li>
            assistant@assistant.com
        </li>

        <li>
            insurance@insurance.com
        </li>


        <li>
            patient@patient.com
        </li>
    </ul>

    <p>They all have <a id="pass" title="Press to unlock">********</a> as <b>password</b></p>
}

<script>
    $(document).ready(function () {
        $("a").click(function () {
            $("#pass").html("<i>Test@123</i>");
        });
    });
</script>