@model IEnumerable<Clinic.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.display_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.about)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_about)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.display_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.speciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.about)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_about)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
